* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(117, 186, 163);
    color: white;
}

#navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right-items {
    margin: 10px;
}